
/* This is where I used the "." element in order to seprate the color of my
List */

.Red{
color: red;

}

.Crimson{

color: crimson;


}

.yellow{

color:yellow

}

.green{

color: green;

}

.darkgreen{

color: darkgreen;

}

.orange{

color:orange;

}

/* This is where I used the pound element in order to control my
buttons background color and white text */
#GreenButton{

    background-color: green;
    color: white;

}

#RedButton{

background-color:red;
color: white;

}