/*  */
/* *   {
    color:pink;
    background-color:green;
} */

/*This is where I can change the color of my body, text or background.
in this case i changed the color of my back ground to the Beige  */
body {

    background-color: beige;
}
/*Everything that is labled as a button element will increase to the size 30px  */
button {
    font-size:30px;
}

/*All my headers are going to be color Crimson  */
h1, h2 {

    color:crimson; 
}

/* my sign up button will be pink background with blue words  */
#signup {

    background-color: pink;
    color:blue; 
}
/* here I focused on making the word "SEC" Green so everytime my page says "SEC"
It will be highighted in green  */
.sec{

    color:green;
}

/* This is where the "posted by...." is then labeled in pink */
.post a {

    color:hotpink; 
}


footer > a{


        color: purple;

}/* This is where the "posted by...." is then labeled in pink */
.post a {

    color:hotpink; 
}
/* This makes everything in the footers section purple  */
footer > a{

    color:purple;
}
/*This makes the color purple when I begin to type in the password box  */
input[type="password"]{

    color:purple;

}

input[type="text"]{

    color: green; 
}

/* This makes the google Hyper link dark orange */
a[href*="google"]{
    color:darkorange;

}
/* This is where if I hoaver around my buttons labled "Vote" it will turn
into a red box with aquamarine letters  */
button:hover {

    background-color:red;
    color:aquamarine;
}

.post button:active {

    background-color:green;
}
